
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {


#top-bg {
  display: none;
}

#top-banner {
  width: 100%;
  padding: 0;
}

#name{
  
  text-align: center;
}

body{
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  background-color: rgb(255, 123, 0);

}    

img {
  display: none;
}
 li a{
  display: none;
}



}